In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

/Users/ankitbhardwaj/opt/anaconda3/lib/python3.7/site-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [4]:
covid_dataset = pd.read_csv('covid_data.csv')

In [5]:
df = covid_dataset.drop(['Source_1','Source_2','Source_3'], axis=1).groupby(["State code",'Date Announced','Gender'])

TypeError: 'bool' object is not callable

In [46]:
df = covid_dataset.loc[covid_dataset["Detected District"] =='Chennai']

In [75]:
male_chennai = df.loc[df['Gender'] == 'M',['Patient Number', 'Date Announced', 'Age Bracket', 'Gender' ]]
female_chennai = df.loc[df['Gender'] == 'F',['Patient Number', 'Date Announced', 'Age Bracket', 'Gender' ]]

In [98]:
df_count= df.groupby(['Date Announced','Gender']).count()

In [101]:
df_count.head()

                       Patient Number  State Patient Number  \
Date Announced Gender
01/04/2020     M                    1                     1
04/04/2020     F                    1                     1
               M                    6                     6
05/04/2020     M                    7                     7
06/04/2020     F                    6                     6

                       Estimated Onset Date  Age Bracket  Detected City  \
Date Announced Gender
01/04/2020     M                          0            0              0
04/04/2020     F                          0            0              0
               M                          0            0              0
05/04/2020     M                          0            0              0
06/04/2020     F                          0            0              0

                       Detected District  Detected State  State code  \
Date Announced Gender
01/04/2020     M                       1               1           1
04/04/2020     F                       1               1           1
               M                       6               6           6
05/04/2020     M                       7               7           7
06/04/2020     F                       6               6           6

                       Current Status  Notes  \
Date Announced Gender
01/04/2020     M                    1      1
04/04/2020     F                    1      1
               M                    6      6
05/04/2020     M                    7      7
06/04/2020     F                    6      6

                       Contracted from which Patient (Suspected)  Nationality  \
Date Announced Gender
01/04/2020     M                                               1            0
04/04/2020     F                                               0            1
               M                                               5            1
05/04/2020     M                                               6            0
06/04/2020     F                                               0            0

                       Type of transmission  Status Change Date  Source_1  \
Date Announced Gender
01/04/2020     M                          1                   1         1
04/04/2020     F                          1                   1         1
               M                          6                   6         6
05/04/2020     M                          6                   7         7
06/04/2020     F                          5                   6         6

                       Source_2  Source_3  Backup Notes
Date Announced Gender
01/04/2020     M              0         0             0
04/04/2020     F              0         0             0
               M              0         0             0
05/04/2020     M              0         0             0
06/04/2020     F              0         0             0

In [105]:
male_count = df_count.loc[df_count['Patient Number'] != 0,["Patient Number"]]

In [93]:
female_chennai

       Patient Number Date Announced Age Bracket Gender
394               395     22/03/2020          64      F
522               523     24/03/2020          52      F
561               562     24/03/2020          55      F
716               718     26/03/2020          65      F
1174             1175     30/03/2020          52      F
...               ...            ...         ...    ...
26542           26543     26/04/2020          13      F
26543           26544     26/04/2020          39      F
26544           26545     26/04/2020          60      F
26552           26553     26/04/2020          27      F
26553           26554     26/04/2020          24      F

[109 rows x 4 columns]

In [ ]:
fig, ax = plt.subplots(figsize=(13,10))
plt.xlabel("dates")
plt.plot(male_chennai[''])

In [21]:
import pandas as pd
import mysql.connector
from sqlalchemy import create_engine

ModuleNotFoundError: No module named 'mysql'

In [20]:
!pip install mysql

Requirement already satisfied: mysql in /Users/ankitbhardwaj/opt/anaconda3/lib/python3.7/site-packages (0.0.2)
Requirement already satisfied: mysqlclient in /Users/ankitbhardwaj/opt/anaconda3/lib/python3.7/site-packages (from mysql) (1.4.6)