In [1]:
import pandas as pd

import matplotlib.pyplot as plt

In [2]:
housing_data = pd.read_csv('data/housing.csv').dropna()

In [3]:
housing_data.sample(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
11782,-121.24,38.78,18.0,549.0,143.0,249.0,136.0,0.8691,136500.0,INLAND
1219,-120.91,38.11,9.0,3585.0,680.0,1800.0,598.0,3.6360,133100.0,INLAND
3232,-119.69,36.25,35.0,2011.0,349.0,970.0,300.0,2.3950,94100.0,INLAND
9586,-120.47,37.32,15.0,3952.0,984.0,2024.0,1026.0,2.5580,121600.0,INLAND
6338,-117.88,33.96,16.0,19059.0,3079.0,10988.0,3061.0,5.5469,265200.0,<1H OCEAN

In [4]:
drop_index = housing_data.loc[housing_data['median_house_value'] == 500001].index

In [5]:
housing_data = housing_data.drop(drop_index)

In [6]:
housing_data.shape

(19475, 10)

In [7]:
housing_data = pd.get_dummies(housing_data, columns=['ocean_proximity'])

In [8]:
housing_data.shape

(19475, 14)

In [9]:
housing_data.sample(6)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN
1783,-122.36,37.94,26.0,1540.0,343.0,1007.0,338.0,1.3365,72900.0,0,0,0,1,0
6605,-118.17,34.19,45.0,1790.0,316.0,1035.0,312.0,4.0985,173100.0,1,0,0,0,0
12658,-121.44,38.51,27.0,7212.0,1606.0,4828.0,1549.0,2.2140,82400.0,0,1,0,0,0
18906,-122.26,38.15,26.0,3699.0,671.0,2388.0,699.0,4.0515,121900.0,0,0,0,1,0
9500,-123.69,38.90,17.0,2206.0,478.0,1140.0,428.0,2.1985,95300.0,0,0,0,0,1
19388,-120.87,37.76,16.0,2022.0,413.0,1126.0,408.0,2.5655,116400.0,0,1,0,0,0

In [10]:
median = housing_data['median_house_value'].median()

median

173800.0

In [11]:
housing_data['above_median'] = (housing_data['median_house_value'] - median > 0)

In [12]:
housing_data.shape

(19475, 15)

In [13]:
housing_data.sample(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN,above_median
18604,-122.11,37.11,46.0,1993.0,404.0,850.0,327.0,5.2080,206800.0,0,0,0,0,1,True
6843,-118.13,34.07,20.0,2130.0,654.0,1870.0,578.0,2.3664,192200.0,1,0,0,0,0,True
6303,-117.90,33.99,18.0,8076.0,1789.0,5325.0,1707.0,3.4430,171900.0,1,0,0,0,0,False
18229,-122.09,37.40,22.0,1489.0,436.0,662.0,470.0,3.5179,197200.0,0,0,0,1,0,True
12962,-121.31,38.72,11.0,2306.0,420.0,1308.0,418.0,3.9506,122200.0,0,1,0,0,0,False

In [14]:
X = housing_data.drop(['above_median', 'median_house_value'], axis =1)
Y = housing_data['above_median']

In [15]:
X.shape , Y.shape

((19475, 13), (19475,))

In [16]:
X.sample(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN
7909,-118.08,33.88,27.0,3065.0,736.0,1840.0,719.0,3.6417,1,0,0,0,0
4729,-118.36,34.05,47.0,1424.0,300.0,632.0,278.0,4.0625,1,0,0,0,0
18223,-122.08,37.41,20.0,1896.0,456.0,1069.0,436.0,4.6875,0,0,0,1,0
14962,-116.91,32.75,5.0,8710.0,1614.0,4372.0,1527.0,4.7813,1,0,0,0,0
10203,-117.92,33.87,36.0,1125.0,285.0,966.0,257.0,2.8438,1,0,0,0,0

In [17]:
Y.sample(5)

8316     True
4448     True
6177     True
4951    False
5677     True
Name: above_median, dtype: bool

In [18]:
X.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'ocean_proximity_<1H OCEAN', 'ocean_proximity_INLAND',
       'ocean_proximity_ISLAND', 'ocean_proximity_NEAR BAY',
       'ocean_proximity_NEAR OCEAN'],
      dtype='object')

In [19]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size = 0.2)

In [20]:
x_train.shape, x_test.shape

((15580, 13), (3895, 13))

In [21]:
from sklearn.linear_model import LogisticRegression
linear_model = LogisticRegression(solver = 'liblinear').fit(x_train, y_train)

In [22]:
x_test.shape

(3895, 13)

In [23]:
type(x_test)

pandas.core.frame.DataFrame

In [41]:
print(f'Training score :{linear_model.score(x_train, y_train)}')
print(f'Test score :{linear_model.score(x_test, y_test)}')

Training score :0.8229139922978177
Test score :0.8130937098844673

In [43]:
y_pred = linear_model.predict(x_test)

In [44]:
df_pred_actual = pd.DataFrame({"pred" : y_pred, "actual" : y_test})

In [47]:
df_pred_actual.head(10)

        pred  actual
6806   False    True
14162  False   False
13227  False   False
535     True    True
12177  False   False
3128   False   False
8148    True    True
8625    True    True
8486   False   False
15272   True    True

In [48]:
from sklearn.metrics import accuracy_score
print(f'Testing score :{accuracy_score(y_test, y_pred)}')

Testing score :0.8130937098844673

## The end