In [1]:
import pandas as pd

import matplotlib.pyplot as plt

In [12]:
housing_data = pd.read_csv('data/housing.csv').dropna()

In [13]:
housing_data.sample(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
13976,-116.98,34.13,16.0,2098.0,449.0,342.0,143.0,4.0333,133900.0,INLAND
4791,-118.33,34.02,46.0,1528.0,391.0,933.0,366.0,2.1979,125700.0,<1H OCEAN
7602,-118.26,33.89,36.0,923.0,165.0,603.0,191.0,3.5687,120700.0,<1H OCEAN
11943,-117.43,33.95,36.0,2284.0,444.0,1425.0,405.0,4.0526,104500.0,INLAND
19300,-122.83,38.39,19.0,1765.0,394.0,868.0,388.0,2.4620,260300.0,<1H OCEAN

In [14]:
drop_index = housing_data.loc[housing_data['median_house_value'] == 500001].index

In [15]:
housing_data = housing_data.drop(drop_index)

In [16]:
housing_data.shape

(19475, 10)

In [17]:
housing_data = pd.get_dummies(housing_data, columns=['ocean_proximity'])

In [18]:
housing_data.shape

(19475, 14)

In [20]:
housing_data.sample(6)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN
4320,-118.35,34.09,47.0,1800.0,546.0,921.0,478.0,2.8021,280600.0,1,0,0,0,0
14894,-117.06,32.61,34.0,4325.0,1015.0,2609.0,979.0,2.8489,128300.0,0,0,0,0,1
2049,-119.73,36.73,9.0,1621.0,428.0,678.0,394.0,2.2437,54200.0,0,1,0,0,0
10401,-117.59,33.61,3.0,2993.0,429.0,991.0,390.0,10.0765,378200.0,1,0,0,0,0
6210,-117.90,34.07,35.0,1646.0,294.0,1056.0,280.0,3.0550,172000.0,1,0,0,0,0
11921,-117.41,33.96,27.0,2341.0,418.0,1272.0,415.0,3.0208,112700.0,0,1,0,0,0

In [23]:
median = housing_data['median_house_value'].median()

median

173800.0

In [24]:
housing_data['above_median'] = (housing_data['median_house_value'] - median > 0)

In [25]:
housing_data.shape

(19475, 15)

In [28]:
housing_data.sample(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN,above_median
17179,-122.44,37.52,16.0,7077.0,1179.0,3502.0,1148.0,5.9919,345100.0,0,0,0,0,1,True
18668,-121.91,36.99,23.0,5675.0,964.0,2197.0,880.0,4.8693,322300.0,0,0,0,0,1,True
14413,-117.24,32.78,44.0,2172.0,431.0,892.0,420.0,4.1742,342200.0,0,0,0,0,1,True
19556,-121.00,37.61,36.0,2647.0,604.0,2045.0,550.0,2.2730,62900.0,0,1,0,0,0,False
6318,-117.97,34.01,33.0,2006.0,381.0,1410.0,346.0,3.7083,165500.0,1,0,0,0,0,False

In [29]:
X = housing_data.drop(['above_median', 'median_house_value'], axis =1)
Y = housing_data['above_median']

In [31]:
X.shape , Y.shape

((19475, 13), (19475,))

In [35]:
X.sample(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN
14005,-117.18,32.76,52.0,2023.0,301.0,649.0,285.0,4.7396,0,0,0,0,1
18601,-122.12,37.16,32.0,1602.0,317.0,752.0,275.0,5.1664,0,0,0,0,1
16357,-121.31,38.03,18.0,4893.0,1008.0,3036.0,997.0,2.5212,0,1,0,0,0
16622,-120.85,35.37,21.0,1033.0,195.0,588.0,187.0,2.8173,0,0,0,0,1
17128,-122.14,37.47,37.0,3373.0,815.0,2909.0,705.0,2.8868,0,0,0,1,0

In [36]:
Y.sample(5)

9524      True
16993     True
12771    False
15200    False
19929    False
Name: above_median, dtype: bool

In [37]:
X.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'ocean_proximity_<1H OCEAN', 'ocean_proximity_INLAND',
       'ocean_proximity_ISLAND', 'ocean_proximity_NEAR BAY',
       'ocean_proximity_NEAR OCEAN'],
      dtype='object')

In [38]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size = 0.2)

In [39]:
x_train.shape, x_test.shape

((15580, 13), (3895, 13))

In [40]:
from sklearn.linear_model import LogisticRegression
linear_model = LogisticRegression(solver = 'liblinear').fit(x_train, y_train)

In [41]:
print(f'Training score :{linear_model.score(x_train, y_train)}')
print(f'Test score :{linear_model.score(x_test, y_test)}')

Training score :0.8229139922978177
Test score :0.8130937098844673

In [43]:
y_pred = linear_model.predict(x_test)

In [44]:
df_pred_actual = pd.DataFrame({"pred" : y_pred, "actual" : y_test})

In [47]:
df_pred_actual.head(10)

        pred  actual
6806   False    True
14162  False   False
13227  False   False
535     True    True
12177  False   False
3128   False   False
8148    True    True
8625    True    True
8486   False   False
15272   True    True

In [48]:
from sklearn.metrics import accuracy_score
print(f'Testing score :{accuracy_score(y_test, y_pred)}')

Testing score :0.8130937098844673

## The end