In [1]:
import pandas as pd

In [4]:
titanic_df = pd.read_csv('data/titanic/processed.csv')

titanic_df.head(4)

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked_C,Embarked_Q,Embarked_S
0,0,2,1,27.0,0,0,26.000,0,0,1
1,1,2,0,30.0,3,0,21.000,0,0,1
2,0,2,1,23.0,0,0,13.000,0,0,1
3,1,3,0,4.0,0,2,22.025,0,0,1

In [5]:
from sklearn.model_selection import train_test_split

In [8]:
X = titanic_df.drop('Survived', axis=1)
Y = titanic_df['Survived']

x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.2)

In [9]:
x_train.shape, x_test.shape

((569, 9), (143, 9))

In [10]:
from sklearn.linear_model import LogisticRegression

In [50]:
clf1 = LogisticRegression(verbose=1,penalty='l2',
    C=1.0, solver='liblinear')

In [51]:
clf1.fit(x_train, y_train)

[LibLinear]

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='liblinear', tol=0.0001, verbose=1,
                   warm_start=False)

In [52]:
y_pred = clf1.predict(x_test)

In [53]:
pred_res = pd.DataFrame({"pred" : y_pred, "actual" : y_test})

pred_res.sample(5)

     pred  actual
335     0       0
331     1       1
135     0       1
687     0       0
55      0       0

In [54]:
confusion_matrix = pd.crosstab(pred_res.pred, pred_res.actual)

In [55]:
confusion_matrix

actual   0   1
pred
0       76  13
1       14  40

In [37]:
from sklearn.metrics import accuracy_score, precision_score, recall_score

In [58]:
print(f'accuracy_score:{accuracy_score(y_test, y_pred)}')
print(f'precision_score:{precision_score(y_test, y_pred)}')
print(f'recall_score:{recall_score(y_test, y_pred)}')

accuracy_score:0.8111888111888111
precision_score:0.7407407407407407
recall_score:0.7547169811320755

In [60]:
import pickle

pickle.dump(clf1 , open('data/titanic/logReg.pickle', 'wb'))